<% include ../partials/header %>


<div class="ui equal width grid">
  <div class="row">
    <div class="column">
      <img class="ui centered medium rounded image" src="<%=show.image[0].original %>">
    </div>
    <div class="column">
      <h1 class="ui center aligned header">
        <%= show.name %>
      </h1>

      <h4 class="ui horizontal divider header">
        Description
      </h4>
      <%- show.description %>

      <h4 class="ui horizontal divider header">
        Specifications
      </h4>

      <table class="ui definition table">
      <tbody>
        <tr>
          <td class="six wide column">IMDB Link</td>
          <td><a target="_blank" href="http://www.imdb.com/title/<%=show.imdb_link %>">IMDB Links</a></td>
        </tr>
        <tr>
          <td>Status</td>
          <td><%= show.status %></td>
        </tr>
        <tr>
          <td>Air Days</td>
          <td><%= show.air_days[0] %></td>
        </tr>
        <tr>
          <td>Genres</td>
          <td><%= show.genres.join(", ") %></td>
        </tr>
      </tbody>
    </table>

    <% if(currentUser){ %>
      <% if(show.users.some(function(el){%>
        <% return el.equals(currentUser._id) %>
      <%})){ %>
        <form class="ui form" action="/remove-favorite" method="post">
          <input type="hidden" name="show_id" value="<%= show._id %>">
          <button class="ui fluid favorite red button" type="submit">
              <i class="remove icon"></i>
               Remove From Favorites
          </button>
        </form>
      <% } else { %>
        <form class="ui form" action="/favorite" method="post">
          <input type="hidden" name="show_id" value="<%= show._id %>">
          <button class="ui fluid favorite green button" type="submit">
              <i class="star icon"></i>
               Add To Favorites
          </button>
        </form>
      <% } %>
    <% } %>


    </div>

</div>

<div class="ui divider"></div>

<div class="row">

<div class="column">
  <h2 class="ui center aligned header">
    Episode List
  </h2>


</div>

<% for(var i=show.episodes.length-1; i !== 0; i--){ %>
<div class="ui segment">
    <h3 class="ui horizontal divider header">
      Season   <%= i %>
    </h3>
<div class="ui divided items">
  <% for(var x=show.episodes[i].length-1; x !== -1; x--){ %>
  <div class="item">
    <div class="image">
      <img src="<%= show.episodes[i][x].image ? show.episodes[i][x].image : "/images/no_image.jpg"  %>">
    </div>
    <div class="content">
      <h4><%= show.episodes[i][x].number %>. <%= show.episodes[i][x].name %></h4>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p><%- show.episodes[i][x].description %></p>
      </div>
      <div class="extra">
        <%= moment(show.episodes[i][x].airdate).format("DD-MM-YYYY") %>
      </div>
    </div>
  </div>
<% } %>
</div>
</div>
<% } %>
</div>

</div>



<% include ../partials/footer %>
