<div class="ui four special stackable cards">
  <% series.forEach(function(show){ %>

    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a href="/series/<%= show.maze_id %>" class="ui inverted button">Apskatīt</a>
            </div>
          </div>
        </div>
        <img src="<%=show.image[0].medium %>">
      </div>
      <div class="content">

        <a href="/series/<%= show.maze_id %>" class="header">
          <%=show.name %>
        </a>

        <div class="meta">
          <% if(show.status === "Running"){ %>
            <strong>Show is Running</strong>
          <% } else { %>
            <strong>Show has Ended</strong>
          <% } %>
          <span class="right floated">
            Rating: <strong><%= show.rating %></strong>
          </span>
        </div>
        <div class="description">
          <%-show.description.substr(0,150) %>
          <%if(show.description.length > 150){%>
            ...
          <%}%>

          <p>
              <strong>Žanri: </strong><%= show.genres.join(", ") %>
          </p>
        </div>
      </div>
      <% if(currentUser){ %>
        <% if(show.users.some(function(el){%>
          <% return el.equals(currentUser._id) %>
        <%})){ %>
          <form class="ui form" action="/remove-favorite" method="post">
            <input type="hidden" name="show_id" value="<%= show._id %>">
            <div class="ui bottom attached favorite red button" onclick="$(this).closest('form').submit()">
                <i class="remove icon"></i>
                 Remove From Favorites
            </div>
          </form>
        <% } else { %>
          <form class="ui form" action="/favorite" method="post">
            <input type="hidden" name="show_id" value="<%= show._id %>">
            <div class="ui bottom attached favorite green button" onclick="$(this).closest('form').submit()">
                <i class="star icon"></i>
                 Add To Favorites
            </div>
          </form>
        <% } %>
      <% } %>

    </div>

    <% }); %>

</div>


<script>
$('.special.cards .image').dimmer({
on: 'hover'
});
</script>
